$black: rgba(14, 13, 23, 1);
$white: rgba(255, 255, 255, 1);
$gray: rgba(217, 217, 217, 1);
$purple: rgba(101, 60, 244, 1);

.form-leaving {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 30;
  background: $white;
  color: $black;
  transition: right 0.6s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15vw;
  &.show {
    right: 0;
  }
  .header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    .title {
      color: $black;
      font-size: 7.5vw;
      font-weight: 500;
      line-height: 110%;
      letter-spacing: -0.45vw;
    }
    .btn-contact {
      display: none;
    }
    .close-button {
      width: 10vw;
      height: 10vw;
      background-image: url('./../img/close-black.svg');
      background-repeat: no-repeat;
    }
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6.6vw;
    .title {
      line-height: 110%;
      font-size: 6.25vw;
      letter-spacing: -0.38vw;
    }
    .inputs-container {
      display: flex;
      flex-direction: column;
      gap: 2.7vw;
      align-self: stretch;
      input {
        padding: 3.44vw 3.75vw;
        align-self: stretch;
        border-radius: 5vw;
        border: 1px solid $gray;
        font-size: 5vw;
        line-height: 120%;
        letter-spacing: -0.2vw;
        &::placeholder {
          opacity: 0.6;
        }
      }
    }
    .form-footer {
      display: flex;
      align-items: center;
      gap: 2.5vw;
      align-self: stretch;
      .submit {
        display: flex;
        padding: 3.13vw 6.25vw;
        align-items: center;
        gap: 2.5vw;
        border-radius: 4.38vw;
        background: $black;
        color: $white;
        font-size: 4.38vw;
        line-height: 100%;
        letter-spacing: -0.09vw;
        .text,
        .dot {
          z-index: 31; //На 1 больше текущего слоя
        }
        &:after {
          z-index: 30; //На текущем слое
          background: $purple;
        }
      }
      p {
        font-size: 2.81vw;
        line-height: 110%;
        letter-spacing: -0.06vw;
        a {
          text-decoration-line: underline;
          text-underline-offset: 3px;
        }
      }
    }
  }
}

@media (min-width: 650px) {
  .overlay-form-leaving {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0;
    backdrop-filter: blur(0px);
    transition: opacity 0.6s ease-in-out, backdrop-filter 0.6s ease-in-out;
    z-index: 20;
    pointer-events: none;
  }
  .overlay-form-leaving.show {
    opacity: 0.8;
    backdrop-filter: blur(25px);
    pointer-events: auto;
  }
  .form-leaving {
    justify-content: flex-start;
    width: 78%;
    gap: 40px;
    padding: 18px 30px 130px 84px;
    .header {
      display: flex;
      flex-direction: column-reverse;
      gap: 73px;
      .buttons {
        display: flex;
        align-self: flex-end;
        gap: 20px;
      }
      .title {
        font-size: 40px;
        letter-spacing: -2.4px;
      }
      .btn-contact {
        display: flex;
        padding: 4px 24px;
        align-items: center;
        gap: 12px;
        border-radius: 16px;
        background: $black;
        color: $white;
        font-size: 16px;
        line-height: 36px;
        letter-spacing: -0.32px;
        .dot {
          color: $purple;
        }
        .text,
        .dot {
          z-index: 31;
        }
        &:after {
          z-index: 30;
          background: $purple;
        }
        &:hover {
          .dot {
            color: $black;
          }
        }
      }
      .close-button {
        width: 44px;
        height: 44px;
      }
    }
    form {
      gap: 20px;
      .title {
        font-size: 28px;
        font-weight: 400;
        letter-spacing: -1.68px;
      }
      .inputs-container {
        gap: 13.5px;
        input {
          padding: 18px;
          border-radius: 24px;
          font-size: 24px;
          letter-spacing: -0.96px;
          &::placeholder {
            opacity: 0.6;
          }
        }
      }
      .form-footer {
        gap: 12px;
        .submit {
          padding: 15.75px 31.5px;
          gap: 15.75px;
          border-radius: 21px;
          font-size: 21px;
          letter-spacing: -0.42px;
        }
        p {
          font-size: 13.5px;
          letter-spacing: -0.27px;
          a {
            text-decoration-line: underline;
            text-underline-offset: 3px;
          }
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .form-leaving {
    width: 64%;
    padding: 18px 34px 130px 66px;
    form {
      padding-right: 110px;
    }
  }
}

@media (min-width: 1024px) {
  .form-leaving {
    width: 46%;
    padding: 18px 70px 130px 70px;
    form {
      padding-right: 80px;
    }
  }
}
