$black: rgba(14, 13, 23, 1);
$white: rgba(255, 255, 255, 1);
$gray: rgba(217, 217, 217, 1);
$purple: rgba(101, 60, 244, 1);

.hero {
  height: 70vh;
  margin-bottom: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .titles {
    color: $black;
    display: flex;
    flex-direction: column;
    gap: 2.8vw;
    h1 {
      opacity: 60%;
      font-size: 2.6vw;
      font-weight: 500;
      line-height: 110%;
      text-transform: uppercase;
      letter-spacing: 0.1vw;
    }
    h2 {
      font-size: 8.8vw;
      font-weight: 500;
      line-height: 110%;
      letter-spacing: -0.7vw;
    }
    h3 {
      opacity: 60%;
      font-size: 3.7vw;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: -0.07vw;
      padding-right: 24px;
    }
  }
  .buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 6px 12px;
    justify-content: space-between;
    transition: opacity 0.5s ease-in-out;

    .button-fill-hover {
      padding: 3vw 6vw;
      gap: 3vw;
      border-radius: 3.6vw;
      font-size: 4.2vw;
      line-height: 100%;
      letter-spacing: 0vw;
    }
    .btn-additional {
      background-color: $black;
      color: $white;
      .dot {
        color: $purple;
      }
      &:after {
        background: rgba(136, 117, 198, 0.5); //?
      }
    }
    .btn-contact {
      background-color: $purple;
      color: $white;
      .dot {
        color: $white;
      }
      &:after {
        background: rgba(136, 117, 198, 0.5); //?
      }
    }
  }
  .scrolled {
    opacity: 0.4;
  }
}

@media (min-width: 400px) {
  .hero {
    .buttons {
      padding: 8px 18px;
    }
  }
}
