$black: rgba(14, 13, 23, 1);
$white: rgba(255, 255, 255, 1);
$gray: rgba(217, 217, 217, 1);
$purple: rgba(101, 60, 244, 1);

.hero {
  height: 70vh;
  margin-bottom: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .titles {
    color: $black;
    display: flex;
    flex-direction: column;
    gap: 2.8vw;
    h1 {
      opacity: 60%;
      font-size: 2.6vw;
      font-weight: 500;
      line-height: 110%;
      text-transform: uppercase;
      letter-spacing: 0.1vw;
    }
    h2 {
      font-size: 8.8vw;
      font-weight: 500;
      line-height: 110%;
      letter-spacing: -0.7vw;
    }
    h3 {
      opacity: 60%;
      font-size: 3.7vw;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: -0.07vw;
      padding-right: 24px;
    }
  }
  .buttons {
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 6px 12px;
    justify-content: space-between;
    transition: opacity 0.5s ease-in-out;
    .button-fill-hover {
      padding: 3vw 6vw;
      gap: 3vw;
      border-radius: 3.6vw;
      font-size: 4.2vw;
      line-height: 100%;
      letter-spacing: 0vw;
    }
    .btn-additional {
      background-color: $black;
      color: $white;
      .dot {
        color: $purple;
      }
      &:after {
        background: rgba(136, 117, 198, 0.5); //?
      }
    }
    .btn-contact {
      background-color: $purple;
      color: $white;
      .dot {
        color: $white;
      }
      &:after {
        background: rgba(136, 117, 198, 0.5); //?
      }
    }
  }
  .scrolled {
    opacity: 0.4;
  }
}

@media (min-width: 400px) {
  .hero {
    .buttons {
      padding: 8px 18px;
    }
  }
}

@media (min-width: 650px) {
  .hero {
    height: 100%;
    margin-bottom: 0;
    margin-top: 76px;
    flex-direction: column;
    .titles {
      align-items: center;
      gap: 0;
      text-align: center;
      h1 {
        font-size: 16px;
        letter-spacing: 0.8px;
        word-spacing: 4px;
      }
      h2 {
        margin-top: 6px;
        font-size: 48px;
        letter-spacing: -3.36px;
        max-width: 586px;
      }
      h3 {
        margin-top: 12px;
        font-size: 14px;
        letter-spacing: -0.28px;
        padding-right: 0;
        max-width: 442px;
      }
    }
    .buttons {
      margin-top: 34px;
      position: static;
      padding: 0;
      gap: 8px;
      justify-content: center;
      flex-direction: row-reverse;
      .button-fill-hover {
        padding: 12px 24px;
        gap: 12px;
        border-radius: 16px;
        font-size: 16px;
        letter-spacing: -0.32px;
      }
    }
  }
}

@media (min-width: 900px) {
  .hero {
    .titles {
      h2 {
        font-size: 60px;
        letter-spacing: -4.2px;
        max-width: 730px;
      }
      h3 {
        letter-spacing: -0.28px;
        max-width: 640px;
      }
    }
    .buttons {
      margin-top: 30px;
    }
  }
}

@media (min-width: 1200px) {
  .hero {
    .titles {
      h2 {
        max-width: 730px;
      }
    }
  }
}
