@import 'swiper/swiper.scss';
@import 'swiper/modules/pagination.scss';

$black: rgba(14, 13, 23, 1);
$white: rgba(255, 255, 255, 1);
$gray: rgba(217, 217, 217, 1);
$purple: rgba(101, 60, 244, 1);

.main-news {
  .swiper {
    a {
      position: relative;
      color: $white;
      .container_img {
        position: relative;
        width: 100%;
        height: 100%;
        max-height: 172px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4.96vw;
        img {
          width: 100%;
          height: auto;
        }
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.1) 0%,
            rgba(0, 0, 0, 0) 100%
          );
        }
      }
      .title {
        position: absolute;
        top: 9%;
        left: 4%;
        font-size: 3.24vw;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        max-width: 70%;
      }
      .description {
        position: absolute;
        bottom: 8%;
        left: 4%;
        max-width: 70%;
        font-size: 4.3vw;
        font-weight: 500;
        line-height: 110%;
        letter-spacing: -0.84px;
      }
    }
    .swiper-pagination {
      position: relative;
      margin-top: 12px;
      height: 4px;
      background-color: 1px solid $gray;
      border-radius: 2px;
      width: 65%;
      left: 50%;
      transform: translateX(-50%);
      .swiper-pagination-progressbar-fill {
        background-color: $purple;
        border-radius: 2px;
      }
    }
  }
}

@media (min-width: 400px) {
  .main-news {
    .swiper {
      a {
        .container_img {
          max-height: 258px;
        }
      }
      .swiper-pagination {
        margin-top: 18px;
      }
    }
  }
}

@media (min-width: 650px) {
  .main-news {
    margin-top: 52px;
    .swiper {
      a {
        .container_img {
          max-height: 278px;
          border-radius: 45px;
        }
        .title {
          top: 32px;
          left: 36px;
          font-size: 12px;
          letter-spacing: 0.6px;
        }
        .description {
          left: 36px;
          bottom: 32px;
          font-size: 32px;
          letter-spacing: -1.92px;
        }
      }
      .swiper-pagination {
        margin-top: 42px;
        height: 8px;
        border-radius: 4px;
        width: 50%;
        .swiper-pagination-progressbar-fill {
          border-radius: 4px;
        }
      }
    }
  }
}

@media (min-width: 900px) {
  .main-news {
    .swiper {
      a {
        .container_img {
          max-height: 371px;
          border-radius: 60px;
        }
        .title {
          top: 40px;
          left: 52px;
          font-size: 16px;
          letter-spacing: 0.8px;
        }
        .description {
          left: 52px;
          bottom: 40px;
          font-size: 40px;
          letter-spacing: -2.4px;
        }
      }
      .swiper-pagination {
        margin-top: 40px;
      }
    }
  }
}

@media (min-width: 1200px) {
  .main-news {
    .swiper {
      .swiper-pagination {
        width: 33%;
      }
    }
  }
}
