$black: rgba(14, 13, 23, 1);
$white: rgba(255, 255, 255, 1);
$gray: rgba(217, 217, 217, 1);
$purple: rgba(101, 60, 244, 1);
$indigo: rgba(96, 61, 219, 1);
$amethyst: rgba(136, 117, 198, 1);
.menu {
  color: $white;
  a {
    color: $white;
  }
  .panel {
    position: fixed;
    height: 100%;
    transition: transform 0.6s ease-in-out;
    z-index: 5;
  }
  .left-panel {
    display: none;
  }
  .right-panel {
    background-color: $purple;
    right: 0;
    top: 0;
    width: 100%;
    transform: translateY(100%);
    .header-menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 6.9vw 3.75vw;
      img {
        width: 11.57vw;
        height: 10vw;
      }
      .btn-contact {
        display: none;
      }
      .close-btn {
        width: 10vw;
        height: 10vw;
        background-image: url('../img/close-white.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    .navigation {
      max-width: 53.13vw;
      padding-left: 3.75vw;
      position: relative;
      z-index: 6;
      .title {
        display: none;
      }
      .links {
        margin-top: 11.2vw;
        .menu-link {
          margin-top: 7.4vw;
          display: block;
          font-size: 8.75vw;
          line-height: 120%;
          letter-spacing: -0.53vw;
          position: relative;
          sup {
            position: absolute;
            top: 0;
            padding-left: 4vw;
            font-size: 3.75vw;
            line-height: 120%;
            letter-spacing: -0.16vw;
          }
        }
        .drop-link {
          display: flex;
          align-items: flex-start;
          .text {
            padding-top: 1.56vw;
          }
          .chevron {
            background-image: url('../img/chevron-down-white.svg');
            background-size: contain;
            background-repeat: no-repeat;
            width: 13.13vw;
            height: 13.13vw;
            transform: rotate(-180deg);
            transition: transform 0.3s ease;
          }
          .expanded {
            transform: rotate(0deg);
          }
          sup {
            position: relative;
            padding-left: 3vw;
          }
        }
        .dropdown-content {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.5s ease-out;
          display: flex;
          flex-direction: column;
          gap: 3.75vw;
          a {
            font-size: 4.38vw;
            line-height: 120%;
            letter-spacing: -0.09vw;
          }
          a:first-child {
            padding-top: 6vw;
          }
        }
      }
    }
    .footer-menu {
      position: fixed;
      bottom: 0;
      width: 100%;
      padding-bottom: 5vw;
      padding: 0 3.75vw 5vw 3.75vw;
      .info-social {
        display: flex;
        justify-content: space-between;
        padding-bottom: 8.75vw;
        .information {
          display: flex;
          flex-direction: column-reverse;
          gap: 3.75vw;
          transition: opacity 0.5s ease;
          .messenger,
          .privacy-policy,
          .copyright {
            display: none;
          }
          .tel,
          .email {
            font-size: 4.38vw;
            line-height: 100%;
            letter-spacing: -0.01vw;
          }
        }
        .display {
          opacity: 0;
        }
        .social {
          display: flex;
          flex-direction: column;
          gap: 3.75vw;
          a {
            width: 10vw;
            height: 10vw;
            background-repeat: no-repeat;
            background-size: contain;
          }
        }
      }
      .open-form-btn {
        display: flex;
        width: 100%;
        padding: 5vw 3.75vw;
        justify-content: center;
        align-items: center;
        gap: 3.28vw;
        border-radius: 4.38vw;
        background: $white;
        color: $black;
        font-size: 4.38vw;
        line-height: 100%;
        letter-spacing: -0.09vw;
        span {
          color: $purple;
        }
      }
    }
  }
  .opened {
    transform: translateY(0);
  }
}

@media (min-width: 650px) {
  .menu {
    .panel {
      z-index: 5;
    }
    .left-panel {
      display: flex;
      background-color: $purple;
      left: 0;
      top: 0;
      width: 28%;
      transform: translateY(-100%);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 52px 0px 38px 30px;
      .logo-icon {
        width: 67px;
        height: 58px;
      }
      .bottom {
        display: flex;
        flex-direction: column;
        gap: 27px;
        .reviews {
          display: flex;
          align-items: center;
          gap: 12px;
          img {
            width: 45px;
            height: 45px;
          }
          .description {
            display: flex;
            flex-direction: column;
            gap: 3px;
            .stars {
              display: flex;
              align-items: center;
              gap: 3px;
              span {
                width: 12px;
                height: 12px;
                background-image: url('./../img/star.svg');
                background-size: cover;
                background-repeat: no-repeat;
              }
            }
            .quantity {
              font-size: 15px;
              line-height: 130%;
              letter-spacing: -0.3px;
            }
          }
        }
        .tagline {
          font-size: 15px;
          line-height: 130%;
          letter-spacing: -0.3px;
        }
      }
    }
    .right-panel {
      background-color: $indigo;
      right: 0;
      top: 0;
      width: 72.5%;
      transform: translateY(100%);
      .header-menu {
        position: fixed;
        top: 20px;
        right: 30px;
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 0;
        img {
          display: none;
        }
        .btn-contact {
          display: flex;
          padding: 12px 24px;
          align-items: center;
          gap: 12px;
          border-radius: 16px;
          background: $white;
          color: $black;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: -0.32px;
          .dot {
            color: $purple;
          }
          .text,
          .dot {
            z-index: 6; //На 1 больше текущего слоя
          }
          &:after {
            z-index: 5; //На текущем слое
            background: $black;
          }
          &:hover {
            .text {
              color: $white;
            }
          }
        }
        .close-btn {
          width: 40px;
          height: 40px;
        }
      }
      .navigation {
        padding-left: 24px;
        padding-top: 66px;
        max-width: 40%;
        .title {
          display: block;
          font-size: 15px;
          line-height: 130%;
          letter-spacing: -0.3px;
        }
        .links {
          margin-top: 24px;
          max-width: 160px;
          .menu-link {
            margin-top: 9px;
            font-size: 30px;
            letter-spacing: -1.8px;
            padding: 7px 0;
            sup {
              padding-left: 7px;
              font-size: 15px;
              line-height: 130%;
              letter-spacing: -0.3px;
            }
          }
          .drop-link {
            .text {
              padding-top: 0;
            }
            .chevron {
              width: 33px;
              height: 33px;
            }
            sup {
              padding-left: 7px;
            }
          }
          .dropdown-content {
            gap: 12px;
            a {
              font-size: 15px;
              letter-spacing: -0.3px;
            }
            a:first-child {
              padding-top: 16px;
            }
          }
        }
      }
      .footer-menu {
        position: fixed;
        bottom: 0;
        right: 0;
        width: unset;
        padding: 0 37px 37px 0;
        .info-social {
          gap: 30px;
          padding-bottom: 0;
          .information {
            flex-direction: column;
            justify-content: flex-end;
            gap: 0;
            .messenger {
              display: block;
              font-size: 24px;
              line-height: 140%;
            }
            .tel {
              margin-top: 14px;
              font-size: 15px;
              line-height: 130%;
              letter-spacing: -0.3px;
            }
            .email {
              margin-top: 6px;
              margin-bottom: 27px;
              font-size: 15px;
              line-height: 130%;
              letter-spacing: -0.3px;
              text-decoration-line: underline;
              text-underline-offset: 3px;
            }
            .privacy-policy,
            .copyright {
              display: block;
              font-size: 15px;
              line-height: 130%;
              letter-spacing: -0.3px;
            }
          }
          .social {
            gap: 15px;
            justify-content: flex-end;
            a {
              width: 24px;
              height: 24px;
            }
          }
        }
        .open-form-btn {
          display: none;
        }
      }
    }
    .opened {
      transform: translateY(0);
    }
  }
}

@media (min-width: 900px) {
  .menu {
    .left-panel {
      padding: 70px 0px 50px 50px;
      .logo-icon {
        width: 90px;
        height: 77px;
      }
      .bottom {
        gap: 36px;
        .reviews {
          display: flex;
          align-items: center;
          gap: 16px;
          img {
            width: 60px;
            height: 60px;
          }
          .description {
            gap: 4px;
            .stars {
              gap: 4px;
              span {
                width: 16px;
                height: 16px;
              }
            }
            .quantity {
              font-size: 20px;
              letter-spacing: -0.4px;
            }
          }
        }
        .tagline {
          font-size: 20px;
          letter-spacing: -0.4px;
        }
      }
    }
    .right-panel {
      .header-menu {
        top: 18px;
        right: 50px;
        gap: 20px;
        .btn-contact {
          padding: 4px 24px;
          gap: 12px;
          border-radius: 16px;
          font-size: 16px;
          line-height: 36px;
          letter-spacing: -0.32px;
        }
        .close-btn {
          width: 44px;
          height: 44px;
        }
      }
      .navigation {
        padding-left: 32px;
        padding-top: 88px;
        .title {
          font-size: 20px;
          letter-spacing: -0.4px;
        }
        .links {
          margin-top: 36px;
          max-width: 210px;
          .menu-link {
            margin-top: 10px;
            font-size: 40px;
            line-height: 120%;
            letter-spacing: -2.4px;
            padding: 10px 0;
            sup {
              padding-left: 14px;
              font-size: 12px;
              line-height: 100%;
              top: 10px;
            }
          }
          .drop-link {
            .chevron {
              width: 44px;
              height: 44px;
            }
            sup {
              padding-left: 14px;
              top: 0px;
            }
          }
          .dropdown-content {
            gap: 16px;
            a {
              font-size: 20px;
              letter-spacing: -0.4px;
            }
            a:first-child {
              padding-top: 12px;
            }
          }
        }
      }
      .footer-menu {
        padding: 0 50px 50px 0;
        .info-social {
          gap: 40px;
          .information {
            .messenger {
              font-size: 32px;
            }
            .tel {
              margin-top: 20px;
              font-size: 20px;
              letter-spacing: -0.4px;
            }
            .email {
              margin-top: 8px;
              margin-bottom: 36px;
              font-size: 20px;
              letter-spacing: -0.4px;
            }
            .privacy-policy,
            .copyright {
              font-size: 20px;
              letter-spacing: -0.4px;
            }
          }
          .social {
            gap: 20px;
            a {
              width: 32px;
              height: 32px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .menu {
    .left-panel {
      width: 27.1%;
      padding: 70px 0px 50px 70px;
    }
    .right-panel {
      width: 73%;
      .header-menu {
        top: 20px;
        right: 70px;
        gap: 20px;
      }
      .footer-menu {
        padding: 0 70px 50px 0;
        .info-social {
          gap: 86px;
        }
      }
    }
  }
}
